<ng-template #contenido let-modal>
    <div class="modal-header">
      <h4>Agregar producto</h4>
      <button class="btn btn-danger" aria-label="close" type="button" (click)="modal.dismiss()"><i
          class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
      <form >
        
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-success" type="submit">Guardar <i class="fas fa-save"></i></button>
          <button class="btn btn-danger" aria-label="close" type="button" (click)="modal.dismiss()">Cancelar <i class="fas fa-times"></i></button>
        </div>
      </form>
    </div>
  </ng-template>
  
  <button class="btn btn-primary" (click)="modal.open(contenido, { size: 'lg' })">Nuevo producto <i
      class="fas fa-plus"></i></button>